

.button {
  background: #18a6c7;
  border-radius: 4px;
  color: white;
  padding: 14px 20px;
  font-weight: 400;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
  margin: 0;
  min-width: 120px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: #1594b1;
}

.button--ghost {
  background: none;
  color: #2C2C2C;
  border: 2px solid #2C2C2C;
}

.button--ghost:hover {
  background: #2C2C2C;
  color: white;
}

.button--full {
  width: 100%;
  margin: 0;
}